@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.mainp {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.sectionp {
  padding: 2rem;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 80vh;
  min-height: 50vh;
  height: auto;
  background-color: #adbbda;
  color: "white";
}
.heading {
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.quest {
  text-align: left;
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word; /* Breaks long words if necessary */
  overflow-wrap: break-word; /* Helps break long words for compatibility */
  width: 100%; /* Ensure the element has enough space to allow wrapping */
  max-width: 100%; /* Optional: limit the width */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 10px; */
  /* padding: 5px; */
}
.btnp {
  padding: 10px;
  min-height: 7vh;
  min-width: 50vh;
  width: auto;
  height: auto;
  border-radius: 4px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.btnp:hover {
  background-color: red;
  color: white;
}

.btnp.selected {
  background-color: green;
  color: white;
}

.btnp.one {
  transition: none;
  background-color: rgb(38, 212, 15);
  color: black;
}
.op {
  display: flex;
  padding: 10px;
  width: 50vh;
  justify-content: space-between;
}

.score {
  font-size: 20px;
  margin-top: 20px;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}
