@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.main {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.section {
  padding: 5rem;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#title {
  font-weight: bold;
  margin-bottom: 10vh;
  font-family: "Montserrat", sans-serif;
}
.form {
  text-align: left;
}
.text {
  font-size: larger;
}
.bar {
  width: 60vh;
  height: 5vh;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 2px;
  font-size: medium;
}
.number_bar {
  width: 60vh;
  height: 4vh;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 2px;
  font-size: medium;
}
.btn {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.bt {
  padding: 8px;
  height: 5vh;
  width: 10vh;
  border-radius: 10px;
  /* border: 2px solid black; */
}
.submit {
  padding: 5px;
  margin-top: 10px;
  height: 5vh;
  width: 20vh;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  font-size: large;
  font-weight: bold;
}
.bt.easy {
  background-color: lightgreen;
}
.bt.medium {
  background-color: lightskyblue;
}
.bt.hard {
  background-color: lightcoral;
}
